@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kalyani, Pahadi Cow Development and Research Centre,<br />
    Village Khanlag,<br />
    District Shimla, <br />
    Himachal Pradesh <br />

    <abbr title="Phone">Ph:</abbr>
    9418027861
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:vinayak.kuthiala@gmail.com">vinayak.kuthiala@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>