
@{
    ViewBag.Title = "GauDhan";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <style>
        
        /* Division parameters for displaying boxed gaus in the GauDhan page*/
        .div1 {
            border-radius: 15px;
            display:inline-block;
            background-color: lightgrey;
            width: 31%;
            height: 240px;
            border: 3px solid green;
            padding: 10px;
            margin: 10px;
            text-align:center;
            transition: height 0.6s;
            -webkit-transition: height 0.6s;
            overflow: hidden;
        }

        .div1:hover{
            height: 400px;

        }

    </style>
    @*<h2>@ViewBag.Title</h2>*@
<div style="margin-top:80px">

    <section class="div1">
        <img src="~/Content/Images/GauDhan/Ganga.jpeg" alt="Image_Gau1" style="width:200px;height:auto;border:2px solid red;">
        <h3><b>Gau Ganga</b></h3><br />
        <b>Bholu kahin ki.</b><br />
        abc  abc abc abc abc  abc abc abcabc  abc abc abcabc  abc abc abc
    </section>

    <section class="div1">
        <img src="~/Content/Images/GauDhan/Amba1.jpeg" alt="Image_Gau1" style="width:200px;height:auto;border:2px solid red;">
        <h3><b>Gau Amba - The Queen of Kalyaani</b></h3><br />
        <b>Shaitaan kahin ki.</b><br />
        abc  abc abc abc abc  abc abc abcabc  abc abc abcabc  abc abc abc
    </section>


    <section class="div1">
        <img src="~/Content/Images/GauDhan/Kali1.jpeg" alt="Image_Gau1" style="width:200px;height:auto;border:2px solid red;">
        <h3><b>Gau Kali-1</b></h3><br />
        <b>Ab kya hi Bolein.</b><br />
        abc  abc abc abc abc  abc abc abcabc  abc abc abcabc  abc abc abc
    </section>

    <section class="div1">
        <img src="~/Content/Images/GauDhan/Ramu.jpeg" alt="Image_Gau1" style="width:200px;height:auto;border:2px solid red;">
        <h3><b>Gau Ramu</b></h3><br />
        <b>Ab kya hi Bolein.</b><br />
        abc  abc abc abc abc  abc abc abcabc  abc abc abcabc  abc abc abc
    </section>

    <section class="div1">
        <img src="~/Content/Images/GauDhan/Gauri.jpeg" alt="Image_Gau1" style="width:200px;height:auto;border:2px solid red;">
        <h3><b>Gau Gauri</b></h3><br />
        <b>Ab kya hi Bolein.</b><br />
        abc  abc abc abc abc  abc abc abcabc  abc abc abcabc  abc abc abc
    </section>


    <section class="div1">
        <img src="~/Content/Images/GauDhan/Shamu.jpeg" alt="Image_Gau1" style="width:200px;height:auto;border:2px solid red;">
        <h3><b>Gau Shamu</b></h3><br />
        <b>Ab kya hi Bolein.</b><br />
        abc  abc abc abc abc  abc abc abcabc  abc abc abcabc  abc abc abc
    </section>


    <section class="div1">
        <img src="~/Content/Images/GauDhan/Gauraan.jpeg" alt="Image_Gau1" style="width:200px;height:auto;border:2px solid red;">
        <h3><b>Gau Gauraan</b></h3><br />
        <b>Ab kya hi Bolein.</b><br />
        abc  abc abc abc abc  abc abc abcabc  abc abc abcabc  abc abc abc
    </section>

    <section class="div1">
        <img src="~/Content/Images/GauDhan/Girja.jpeg" alt="Image_Gau1" style="width:200px;height:auto;border:2px solid red;">
        <h3><b>Gau Girja</b></h3><br />
        <b>Ab kya hi Bolein.</b><br />
        abc  abc abc abc abc  abc abc abcabc  abc abc abcabc  abc abc abc
    </section>

    <section class="div1">
        <img src="~/Content/Images/GauDhan/Kali2_2.jpeg" alt="Image_Gau1" style="width:200px;height:auto;border:2px solid red;">
        <h3><b> Gau Kali-2</b></h3><br />
        <b>Ab kya hi Bolein.</b><br />
        abc  abc abc abc abc  abc abc abcabc  abc abc abcabc  abc abc abc
    </section>

    <h2>GauDhan</h2>

</div>

